/ProyectoMA/build/
/ProyectoMA/dist/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/ServicesAgiles/nbproject/private/
/ServicesAgiles/build/
/ServicesAgiles/dist/
/ServicioProyectoMAgiles/nbproject/private/
/ServicioProyectoMAgiles/build/
/MetodologiasAgiles/nbproject/private/
/MetodologiasAgiles/build/
/MetodologiasAgiles/dist/
/JavaApplication49/nbproject/private/
/Metodologias2/nbproject/private/
/Metodologias2/build/
/Metodologias2/dist/