/ProyectoMA/build/
/ProyectoMA/dist/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/ServicesAgiles/nbproject/private/
/ServicesAgiles/build/
/ServicesAgiles/dist/
/ServicioProyectoMAgiles/nbproject/private/
/ServicioProyectoMAgiles/build/